@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

html {
  background: var(--color-neutral-50);
}

html.dark {
  background: var(--color-neutral-950);
}
